.container {
    display: flex;
    flex-direction: row;
}

#showBtns {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: #DDDDDD; */
    width: 100%;
    border-radius: 0 0 10px 10px;
    transition: all .5s ease-in-out;
}

.vl {
    border-left: 1px solid #757575cb;
    height: 20px;
    }
