.back {
    background-color: #919191;
    padding: 0.08rem;
    margin: 0 0.1rem;
}

.back-button {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    /* background-color: blue; */
    margin: 10px;
}
