#home-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* height: 50vw; */
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 200px;
}

#logo-name {
    font-size: 6em;
    padding: 70px 0;
    /* color: #5a3e7d; */
    color: black
}

#moto p {
    display: flex;
    text-align: center;
    font-size: 1.2em;
    flex-direction: column;
    font-style: italic;
    margin: 5px 10px;
}

#moto {
    padding-bottom: 50px;
}

#github-btn {
    background-color: #2F3337;
    font-size: 1em;
}

#github-btn span {
    padding-right: 10px;
}

.bg-wrapper {
    width: 100%;
    z-index: -1;
}
