#home {
    display: flex;
    flex-direction: column;
    height: 300vh;
    width: 100vw;
    align-items: center;
    position: absolute;
    margin-top: 150px;
}

#logo-name {
    font-size: 6em;
    padding: 70px 0;
    /* color: #5a3e7d; */
    color: black
}

#moto p {
    display: flex;
    text-align: center;
    font-size: 1.2em;
    flex-direction: column;
    /* color: #6429B0; */
    font-style: italic;
    margin: 5px 10px;
}

#moto {
    padding-bottom: 50px;
}

#github-btn {
    background-color: #2F3337;
    font-size: 1em;
}

#github-btn span {
    padding-right: 10px;
}

.bg-wrapper {
    width: 100%;
    z-index: -1;
}
