
#home {
    display: flex;
    flex-direction: column;
    height: 300vh;
    width: 100vw;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
}

#logo-name {
    font-size: 6em;
    padding: 70px 0;
}

#moto p {
    display: flex;
    text-align: center;
    font-size: 1.2em;
    flex-direction: column;
    /* color: #6429B0; */
    font-style: italic;
    margin: 5px 10px;
}

#moto {
    padding-bottom: 50px;
}

#github-btn {
    background-color: #2F3337;
    font-size: 1.5em;
}

#github-btn span {
    padding: 10px;
}

.bg-wrapper {
    width: 100%;
    z-index: -1;
}
