header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FFFAFA;
    top: 0;
    z-index: 2;
    padding-top: 1rem;
}

.nav-links a {
    text-decoration: none;

}

.username {
    padding-left: 20px;
}

.logo {
    font-size: 1.5rem;
}

.settings {
    padding: 5px;
}

.logout {
    padding: 5px;
}

.redirect a {
    text-decoration: none;
}

/* #nav-button {
    margin-right: 20px;
} */

