.dash-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.workspace-list {
    margin-top: 180px;
}

.dash-wrapper {
    width: 60%;
    position: fixed;
    padding-top: 2.2rem;
    top: 5vh;
    background-color: #FFFAFA;
}
/* style heading to make it consistent with other pages  */
.dash-header {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 13px;
}
h1 {
    margin-bottom: 0;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
}
hr {
    width: 60%;
    border: 0.2px solid #D2D2D2;
}
 /* style button for header */
.addBtn {
    font-size: 20px;
    margin-left: 10px;
    padding-top: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #D2D2D2;
}

.workspaces-container {
    display: inline-grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    margin-top: 10px;
}

.dash-hr {
    width: 100%;
}
