@import url('https://fonts.googleapis.com/css2?family=Exo&family=Fruktur&family=Inter:wght@400;500;600&family=Noto+Sans+Mono:wght@400;700&family=PT+Mono&family=Righteous&family=Roboto+Mono:wght@400;600&display=swap');

h1 {
    font-family: 'Exo', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    color: #D2D2D2;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

hr {
    width: 60%;
    border: 0.2px solid #D2D2D2;
}

.header {
    width: 60%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 13px;
}
