@import url('https://fonts.googleapis.com/css2?family=Exo&family=Fruktur&family=Inter:wght@400;500;600&family=Noto+Sans+Mono:wght@400;700&family=PT+Mono&family=Righteous&family=Roboto+Mono:wght@400;600&display=swap');

.map-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* background-color: yellow; */
}

.header {
    width: 60%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: blue; */
    margin-top: 100px;
    margin-bottom: 13px;
}

h1 {
    margin-bottom: 0;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
}

hr {
    width: 60%;
}

.repo-list {
    background-color: aquamarine;
    width: 60%;
}

button {
    font-size: 20px;
    margin-left: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
