/* show p element if no workspaces  */
.no-workspace-active{

    display: none;
    visibility: hidden;
}
.workspace-active{

    color: blue;
}

h3 {
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    height: auto;
}

.workspace-list {
    width: 60%
}
.workspace-list p {
    /* display: flex; */
    text-align: center;
    width: 50%;
    /* color: #D2D2D2; */
    padding-left: 25%;
    margin-top: 10%;
}

.workspace-card-container {
    width: 100%;
    background-color: #DDDDDD;
    border-radius: 10px;
}

.block {
    background-color: #F0F0F0;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 5px;  
    padding: 5px 10px;
}

.block-header {
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.counters {
    display: flex;
    flex-direction: row;
    
}

/* Workspace Edit and Delete buttons */
#showBtns {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #DDDDDD;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.showOptions{
    color: red;
}

.hideOptions{

    display: none;
    visibility: hidden;
}
