.people-container {
    display: flex;
    flex-direction: row;
    background-color: #F0F0F0;
    /* height: 50px; */
    align-items: flex-start;
    border-radius: 15px;
    justify-content: space-between;
    /* position: relative; */
}

.name {
     margin: 0px 15px;
}

.person-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: relative;
}

.person-files {
    background-color: darkseagreen;
    margin: 0 15px;
    width: 70%;
    height: 100%;
    text-align: right;
    justify-content: center;
    position: relative;
    display: inline-block;
    right: 0;
    top: 0;
}

.file {
    margin: 11px 0;
    padding: 0;
}
