.people-container {
    display: flex;
    flex-direction: row;
    background-color: #F0F0F0;
    height: 50px;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
}

.name {
     margin: 0px 15px;
}

.person-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.person-files {
    display: flex;
    flex-direction: column;
    background-color: darkseagreen;
    margin: 0 15px;
    width: 70%;
    height: 100%;
    /* padding: 0; */
}
