.repo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.repo-header {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 13px;
}

.folder-container {
    display: flex;
    justify-content: flex-start;
}

.repo-wrapper {
    width: 60%;
    position: fixed;
    padding-top: 2.2rem;
    top: 5vh;
    background-color: #FFFAFA;
}

.repo-hr {
    width: 100%;
}
